:root {
  --white-tint: rgba(250, 250, 250, 0.5);
  --black-tint: rgba(51, 51, 51, 0.5);
}

/* 5273467117533091 */
body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-color: transparent; */
}

.cover {
  max-width: 220px;
  /* box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.5); */
}

.cover:hover {
  /* box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.8); */
}

div.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.line-bottom {
  border-bottom: 1px solid rgba(51,51,51,.2);
  padding-bottom: .6rem;
  padding-top:2rem;
  margin-left:4rem;
  position: relative;
}
.line-bottom::before {
  position: absolute;
  content: "";
  top:0;
  left:-4rem;
  width:4rem;
  height: 100%;
  background-color: #ffe;
  border-bottom: 1px solid #ffe;
}

header {
  display: flex;
  /* flex-direction: column; */
  position: sticky;
  top: 0;
  background-color: var(--black-tint);
  background-color: #696961;
  z-index: 100;
  height: 4rem;
}

header a.logo {
  max-width: 30%;
  /* background-color: var(--white-tint); */
  padding: 0 1rem;
  background-color: rgba(200, 200, 200, 0.2);
  border: 1px solid #aa9;
  border-radius: 10px;
  height: calc(4rem - 4px);
  margin: 1px;
}

header a.logo img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  /* vertical-align: bottom; */
  padding:1rem 0;
}

header div:nth-of-type(2) {
  color: #ffd;
  box-sizing: border-box;
  /* border: 1px solid #ffd; */
}

header div img {
  float: left;
}

header nav {
  flex: 1;
  /* display: none; */
}

header ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

header ul li {
  flex: 1;
}

header nav a {
  display: block;
  /* text-align: left;
  padding-left: 2rem; */
  text-decoration: none;
  color: #ddb;
  /* line-height: 2.5rem; */

  padding-left:2rem;
  font-size:1.7rem;
  line-height:3rem;
}

header nav a:hover {
  background-color: var(--black-tint);
  background-color: rgba(250, 250, 250, 0.1);
  text-decoration: underline;
  color: #fff;
  transition: 1s;
}

.active {
  background-color: rgba(250, 250, 250, 0.08);
  text-decoration: none;
  pointer-events: none;
}

.header-banner {
  /* max-height: 200px; */
  height: 210px;
  width: 100%;
  position: sticky;
  padding: 0;
  top: 2.5rem;
  left: 0;
  background-image: url("../images/panorama-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

main {
  flex: 1;
}

main > section {
  background-color: #ffe;
  /* overflow: hidden; */
  padding: 0.5rem;
  background-color: #ffe;
}

main > section h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid #aa9;
  margin: 0;
  margin-left: 1rem;
  padding: 1rem 0;
}

section > p {
  margin: 1rem;
}

main > section div {
  /* background-color: var(--white-tint); */
}

section.hero {
  padding: 0;
  display: flex;
  background-image: url("../images/panorama-header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

section.hero > div {
  border-top: 3px solid #eed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

section.hero > div div {
  width: 90%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto 0 1rem;
  box-shadow: 1px 1px 4px var(--black-tint);
  background-color: rgba(250, 250, 250, 0.9);

  height: auto;
}

section.hero > div div p {
  margin: 1rem;
  text-align: center;
}

.link-button {
  font-size: 1.1rem;
  display: block;
  width: 12rem;
  background-color: #fff;
  color: #665;
  text-align: center;
  padding: 5px 1rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  text-decoration: none;
  margin: 1rem auto;
}
.link-button:hover {
  text-decoration: underline;
  background-color: #ffd;
  color: #333;
  border: 1px solid rgba(51, 51, 51, 0.9);
}

section.hero > div div .link-button {
  font-size: 1.1rem;
  font-weight: bold;
  /* padding: 0.5rem; */
  margin: 0 auto 1rem auto;
}

section.fb-info {
  display: flex;
  flex-direction: column;
}

section.fb-info div.facebook {
  width: 80%;
  min-height: 20rem;
  margin: 1rem;
}

section.fb-info div.mission {
  width: 90%;
  margin: 1rem;
}

div.mission .logo {
  max-width: 400px;
  margin: 0 auto;
  background-color: transparent;
}
div.mission .logo {
  background-color: transparent;
}
div.facebook iframe {
  max-width: 100%;
}
section.fb-info div h3 {
  margin: 0.5rem;
}
section.fb-info div p {
  margin: 0.5rem;
}

section.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  
}

section.projects > div {
  margin: 1rem;
  width: 90%;
  height: fit-content;
  border-width: 0;
  box-shadow: 3px 3px 8px var(--black-tint);
  border-radius: 3px;
}
section.projects > h2 {
  flex-basis: 100%;
}

section.projects div h3 {
  margin: 0.5rem;
  border-bottom: 1px solid #ddc;
}

.project {
  position: relative;
}

.y20::before, .y21::before, .y22::before, .y23::before, .y24::before, .y25::before {
  position:absolute;
  content: "";
  font-size:2.5rem;
  font-weight: bold;
  color: rgba(251,51,51,.3);
  right: -1.5rem;
  transform: rotate(10deg);
  top:-3%;
  text-shadow: 2px 2px 4px rgba(251,251,51,.5);
}

.y20::before {
  content: "2020";
  }

.y21::before {
  content: "2021";
}

.y22::before {
  content: "2022";
}

.y23::before {
  content: "2023";
}

.y24::before {
  content: "2024";
}

.y25::before {
  content: "2025";
}

.project > div {
  padding-left: 0;
}

.project.tropem div {
  padding-left: 0;
  padding-bottom: 60px;
}

.project.oknonaswiat div::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Podroze_po_Dolnym_Slasku-okladka.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.project.opowiesciwherbach div::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Opowieści_ukryte_w_herbach-okladka.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.project.tropem div::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url("../images/logo-tropem-dziedzictwa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
 }

 .project.muzycznywroclaw div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/afisz-muzyczny_wroclaw_x200.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

.project.muzycznywroclaw, .project.opowiesciwherbach, .project.oknonaswiat, .project.herstoriapodkasty, .project.podrozdoprzeszlosci, .project.zbiegiemrzeki,
.project.kobietaimie, .project.wedrownik, .project.quests, .project.filmowarozawiatrow, .project.wroclawnaturasztukaarchitektura, .project.zwroclawiemwtle, .project.opowiem {
  padding-bottom: 200px;
}

.project.dodaj {padding-bottom: 250px;}

.project.herstoriapodkasty div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/herstoria-collage-330.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

 .project.kobietaimie div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Kobieta_niejedno_ma_imie.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

 .project.wedrownik div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Wedrownik-po-powiecie-wroclawskim.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

.project.quests div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/questokladki-330.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }


.project.podrozdoprzeszlosci div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/podroz-do-przeszlosci-okladka-300px.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

.project.zbiegiemrzeki div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Z_biegiem_rzeki-okladka-200px.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

 .project.filmowarozawiatrow div::after {
  position: absolute;
  content: "";
   left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/Filmowa_roza_wiatrow-okladka-200px.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

.project.wroclawnaturasztukaarchitektura div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/wroclaw-natura-sztuka-architektura-okladka200px.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
 }

.project.zwroclawiemwtle div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/afisz-zwrowtle_czerwiec_x150.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

.project.opowiem div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url("../images/logo-opowiem-ci-o-wroclawiu.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.project.dodaj div::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-image: url("../images/logo-dodaj-ojczysty.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.project.covid  {
  padding-bottom: 300px;
  justify-self: start !important;
  align-self: flex-start !important;
  place-self: start start !important;
  display: flex;
  /* flex-basis: 95%; */
}

.project.covid div::after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: 20px;
  width: 100%;
  height: 250px;
  background-image: url("../images/logo-niw-covid.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

section.projects div p {
  margin: 0.5rem;
}

section.projects div button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  width: 12rem;
}

footer {
  background-color: #292929;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

footer a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}

footer .contact-data div,
footer .contact-data ul {
  border: 1px solid rgba(255, 255, 255, 0.65);
  padding: 1rem;
  list-style-type: none;
}

footer hr {
  flex-basis: 90%;
}

footer ul {
  list-style-type: circle;
}

footer .line {
  font-weight: bold;
  color: #776;
  border-bottom: 1px solid #776;
  list-style-type: none;
}

.imgandtxt {display:flex; flex-direction: column;}
.imgandtxt a {display: block;}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  section.hero > div div {
    flex: 1;
    margin: 1rem;
    /* width: 45%; */
  }

  .hero .link-button {
    margin: 1rem;
    width: 10rem;
  }

  .project > div {
    padding-left: 180px;
  }

  .project.oknonaswiat,
  .project.opowiesciwherbach,
  .project.herstoriapodkasty,
  .project.kobietaimie,
  .project.wedrownik,
  .project.quests
  .project.opowiem,
  .project.dodaj,
  .project.covid,
  .project.zwroclawiemwtle,
  .project.filmowarozawiatrow
  .project.wroclawnaturasztukaarchitektura,
  .project.wroclawskarozawiatrow,
  .project.muzycznywroclaw,
  .project.podrozdoprzeszlosci,
  .project.zbiegiemrzeki,
  {
    padding-bottom: 0;
  }

.project.wroclawnaturasztukaarchitektura div::after,
.project.wroclawskarozawiatrow div::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }

.project.opowiesciwherbach div:after, .project.oknonaswiat div:after, .project.herstoriapodkasty div:after, .project.kobietaimie div:after, .project.kobietaimie div:after, .project.wedrownik div:after, .project.quests div:after, .zbiegiemrzeki div:after {
  left: .5rem;
  top: .5rem;
  width: 170px;
  height: 200px;
background-position: top left;}

.project.muzycznywroclaw div::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-image: url("../images/afisz-muzyczny_wroclaw_x200.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.project.zwroclawiemwtle div::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-image: url("../images/afisz-zwrowtle_czerwiec_x150.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .project.opowiem div::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-position: top center;
    background-size: contain;
  }

  .project.dodaj div::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-position: top center;
    background-size: contain;
  }

  .project.covid div::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: 160px;
    height: 100%;
    background-position: top center;
    background-size: contain;
  }
}

@media (min-width: 700px) {
  header {
    min-height: 2.5rem;
    max-height: 2.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #393931;
  }

  header a.logo {
    margin-top: -5px;
    transform: rotate(-6deg);
    max-width: 200px;
    background-color: transparent;
    border: none;
  }

  header nav {
    /* flex-basis: unset; */
    /* order: 2; */
    flex: 1;
    /* flex-basis: 90%; */
    display: block;
  }

  header .search {
    /* order: 3; */
  }

  header nav ul {
    flex-direction: row;
    flex:1;
  }

  header nav a {
    line-height: 2.5rem;
    text-align: center;
    padding-left: 0;    
  font-size:1rem;  
  }

  main > section h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #aa9;
    margin-left: 15rem;
  }

  section.hero {
    background-position: center 2.5rem;
    background-attachment: fixed;
    background-size: contain;
  }

  section.hero > div {
    background-image: url("../images/panorama-header-sepia.jpg");
    background-repeat: no-repeat;
    background-position: center 2.5rem;
    background-attachment: fixed;
    background-size: contain;
    margin-top: 20%;
    /* filter: grayscale(80%); */
  }

  section.hero > div div {
    /* width: 30%;
    min-width: 14rem; */
    box-shadow: 4px 4px 6px #665;
    margin: 1rem 0;
    margin-top: -2rem;
    max-width: 30%;
    height: 8rem;
    background-color: rgba(250, 250, 250, 0.95);
  }

  section.fb-info ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  section.fb-info ul li {
    flex: 1;
    margin: 0.5rem;
  }

  .imgandtxt {flex-direction: row;}
  .imgandtxt a {flex-basis: 300px;}
  .imgandtxt div {flex:1;}
}

@media (min-width: 860px) {
  section.hero > div {
    max-height: 80%;
  }
  section.hero > div div {
    margin: 2rem 0;
    margin-top: -2rem;
    font-size: 1.3rem;
    color: #333;
    /* text-shadow: 1px 1px 1px #000, 3px 3px 5px #333; */
  }

  section.hero > div div .link-button {
    font-size: 1.3rem;
    width: 12rem;
  }

  section.fb-info {
    flex-direction: row-reverse;
  }

  section.fb-info div.mission ul {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  section.projects > div {
    flex-basis: 20rem;
    flex-basis: 45%;
  }
}

@media (min-width: 1200px) {
  section.hero {
    background-position: center 1rem;
  }

  section.hero > div {
    background-position: center 1rem;
  }

  section.fb-info div.mission ul {
    flex-direction: row;
  }
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  margin: 1rem 1rem 1rem auto;
}

form label {
  font-size: 1.3rem;
  padding: 1rem 1rem 0.5rem 0;
}

form label span {
  opacity: 0.5;
}

form input {
  font-size: 1.3rem;
  padding: 0.6rem;
  border: 1px solid #aa9;
  border-radius: 3px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

form button,
form input.btn {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.4rem;
  width: 80%;
  background-color: #fff;
  border: 1px solid var(--black-tint);
}

@media (min-width: 550px) {
  form div {
    flex-direction: row;
  }

  form button,
  form input.btn {
    font-size: 1.3rem;
    /* width: 18rem; */
  }
}

form button:hover,
form input.btn:hover {
  cursor: pointer;
  background-color: #ffd;
  color: #221;
  border: 1px solid #443;
}

main > section.guides {
  background-color: #fff;
}

/* GUIDES */

.guides > div {
  max-width: 40rem;
  min-width: 70%;
  margin: 1rem;
  margin-left: auto;
  border: 1px solid var(--black-tint);
  border-radius: 4px;
  box-shadow: 2px 2px 4px var(--black-tint);
  padding: 0;
  height: fit-content;
  display: flex;
}

.guides > div > div.gatsby-image-wrapper {
  display: none;
  flex-basis: 0;
  border-radius: 4px 0 0 4px;
}

@media (min-width: 550px) {
  .guides > div > div.gatsby-image-wrapper {
    display: block;
    flex-basis: 100px;
  }
}

.guides ul {
  flex: 1;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.guides ul li {
  border-bottom: 1px solid #665;
  padding: 0.3rem;
}

.guides ul li:last-of-type {
  border-bottom: none;
}

.guides li:hover {
  /* color: darken(90%); */
  filter: brightness(97%);
}

.name {
  background-color: rgb(214, 216, 219);
  color: rgb(56, 61, 65);
  font-weight: bold;
}

.guide {
  background-color: #fff;
}

.area {
  background-color: #fff;
}

.language {
  background-color: #fff;
}

.guides .contact {
  background-color: rgb(255, 238, 186);
}

/* ROUTES */

main > section.routes {
  background-color: #fff;
}

section.routes dl {
  max-width: 55rem;
  margin: 1rem 1rem 1rem auto;
}

section.routes dt {
  font-weight: bold;
  border-bottom: 1px solid #aa9;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

section.routes .routes_icon {
  position: relative;
  /* display: inline-block; */
  max-width: 204px;
  width: 240px;
  height: auto;
  float: left;
  margin: 0 1rem 1rem 0;
}

section.routes dd:after {
  content: "";
  display: table;
  clear: both;
}

/* BOOKS */

main > section.books {
  background-color: #ffe;
}

.books h3 {
  border-bottom: 1px solid #aa9;
}

.books > div {
  border: 1px solid var(--black-tint);
  box-shadow: 3px 3px 6px var(--black-tint);
  border-radius: 4px;
  max-width: 80%;
  margin: 2rem;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 700px) {
  .books > div {
    flex-direction: row;
  }
}

.books > div h4 {
  background-color: rgb(214, 216, 219);
  margin: 0;
  padding: 0.5rem;
  flex-basis: 100%;
}

.books > div div {
  /* margin: 0; */
  padding: 0.5rem;
  flex-basis: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media (min-width: 700px) {
  .books > div div {
    flex-basis: 45%;
  }
}

.books > div > div:nth-of-type(2) {
  padding: 0;
  flex: 1;
}

.books > div .gatsby-image-wrapper {
  min-width: 200px;
  margin: 10px 5px;
  padding: 0;
}

.books > div .gatsby-image-wrapper img {
  min-width: 50%;
  width: 300%;
}

.books > div ul {
  flex-basis: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-top: 1px solid #aa9;
}

.books > div ul li {
  border-bottom: 1px solid #aa9;
  padding: 0.5rem;
}

/* PROJECTS */

.project-logo {
  width: 484px;
  margin: 1rem auto;
}

.videos,
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom:2rem;
  /* flex-flow: row wrap; */
}

.cards a {
  display: block;
  width: 220px;
  height: 312px;
  margin: 2rem 1rem;
}

.cards > a {
  position: relative;
  height: auto;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.5);
}

.cards > a:hover {
  box-shadow: 5px 5px 12px rgba(51, 51, 51, 0.7);
}

.cards > a > div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* background-color: var(--black-tint);
  color: #eec;
  padding: 10px; */
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffe;
  padding: 0.3rem;
}

.cards > a:hover > div {
  /* background-color: rgba(51, 51, 51, 0.8);
  color: #ee9; */
  background-color: rgba(51, 51, 51, 0.9);
  color: #ee6;
}

.videos > div {
  position: relative;
  flex-basis:content;
  margin: 3rem 0;
  padding: 0;
}

.videos > div iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 550px) {
  .videos > div {
    margin: 3rem 1rem;
  }
}

@media (min-width: 1024px) {
  .videos > div {
    width: 400px;
    height: 200px;
    flex: 0 1 auto;
  }
  .videos > div iframe {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .videos > div {
    width: 550px;
    height: 275px;
  }
  .videos > div iframe {
    height: 275px;
  }
}

.videos > div > div:nth-of-type(2) {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffe;
  padding: 0.3rem;
  margin-top: -4px;
}

.videos > div:hover > div:nth-of-type(2) {
  background-color: rgba(51, 51, 51, 0.9);
  color: #ee6;
}

/* OFFER */

main > section.offer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.offer > div {
  flex: 1;
  width: 90%;
  max-width: 40rem;
  margin: 1rem 2rem 2rem auto;
  border: 1px solid var(--black-tint);
  padding: 0.5rem;
}

@media (min-width: 1200px) {
  main > section.offer {
    flex-direction: row;
  }
  .offer > div {
    border: none;
    box-shadow: 2px 2px 4px var(--black-tint);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .offer > div .link-button {
    justify-self: flex-end;
    margin-top: auto;
  }
}

/* SOCIETY */

main > section.society div {
  /* background-color: #fff; */
  width: 90%;
  max-width: 50rem;
  margin: 1rem 2rem 2rem auto;
  border: 1px solid var(--white-tint);
  padding: 0.5rem;
}

.society ul {
  list-style-type: none;
}

.fa-glif {
  color: rgba(51, 51, 51, 0.9);
  margin: 0 7px 0 0;
}

/* IDKY */

main .idky {
  background: #eed;
  padding: 1rem;
}

.idky h2 {
  margin-top: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #887;
}

.idky h2,
.idky h3,
.idky h4 {
  margin-left: auto;
  width: 90%;
  max-width: 50rem;
}

.idky .gatsby-image-wrapper {
  margin-left: auto;
  width: 80%;
  margin-right: 3rem;
  max-width: 45rem;
}

.idky > p,
.idky > ul {
  margin-left: auto;
  width: 90%;
  max-width: 50rem;
}

.prev_years h3 {margin:0;}
.prev_years ul { display: flex; padding-left: 0; list-style-type: none; flex-wrap: wrap;}

.prev_years ul li {margin:0 2rem;;}

.prev_years ul li a {
  font-size: 1.1rem;
  display: block;
  width: 12rem;
  background-color: #fff;
  color: #665;
  text-align: center;
  padding: 5px 1rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 10px;
  text-decoration: none;
  margin: .5rem auto;
}
.prev_years ul li a:hover {
  text-decoration: underline;
  background-color: #ffd;
  color: #333;
  border: 1px solid rgba(51, 51, 51, 0.9);}

section.audio {display: flex; flex-wrap: wrap;}
section.audio hr {flex-basis: 100%;}

section.audio figure {max-width:90%; margin:5px; box-shadow: 3px 3px 6px rgba(51,51,51,.6); height: fit-content;  position: sticky; top:60px; align-self: flex-start ; border-radius:10px; background-color: #ffe;}
section.audio figcaption {padding:1rem; background-color: #554; color:#ddc; border-radius: 10px 10px 0 0;}
section.audio audio {width: 100%; outline: none; }

section.audio ul {list-style-type: circle; padding-left: 1.4rem;}
section.audio ul button {margin:0 5px; border:1px solid transparent; background-color: transparent; font-size:.9em; outline: none; text-align: left; padding-left:0;}
section.audio ul button:hover {text-decoration: underline; cursor: pointer;}

.project-logo {max-width:90%;}

@media (min-width:800px) {
  section.audio figure {width:35rem; }

  section.audio ul {padding-left: 2rem; list-style-type: none; width:calc(100% - 38rem) }
}


section + h3 {background-color: #ffe; margin:0; padding:.5rem;}


/* EBOOK */

.ebook {display: flex; flex-direction: column;}

.ebook ul {list-style-type: circle;}

.ebook a {
  display: block;
  width: 300px;
  height: 400px;
  /* margin: 2rem 1rem; */
}

.ebook > a {
  position: relative;
  height: auto;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.5);
}

.ebook > a:hover {
  box-shadow: 5px 5px 12px rgba(51, 51, 51, 0.7);
}

@media (min-width:800px) {
.ebook {
  background-color: rgba(51,51,51,.02);
  border: 1px solid  rgba(51,51,51,.1);;
  width:45rem;
  flex-direction: row-reverse;
justify-content: space-between;
margin-left:1rem;}

.ebook > div {padding: 2rem;max-width:23rem;}
}

.flexrow {display: flex; border-top: 1px solid gray;}
.flexrow > a {float:left; flex:1; }

.downloadLink {text-decoration: none;}
.downloadLink .gatsby-image-wrapper {background-color: transparent; box-shadow: 0 5px 10px rgba(0,0,0,.1);}
.downloadLink:hover .gatsby-image-wrapper {background-color: transparent; box-shadow: 0 10px 15px rgba(0,0,0,1);}
.downloadLink:hover {text-decoration: underline;}

/* BUTTONS */

button.btn.send {background-color:#00f; background: #00f; color:#eed; border:10px solid #00f;}
button.btn.send:hover {border-color:#00d; box-shadow: 3px 3px 10px rgba(51,51,250,.3)}
input.btn.clear {background-color: #f00; color:#eed; border-radius:8px; height:3rem;}
input.btn.clear:hover {background-color: #f00; color:#ff0; border-radius:8px; box-shadow: 3px 3px 10px rgba(250,51,51,.3);}

/* ADDED */

.flexed_images a {display:inline-block; margin:2rem; vertical-align: top;}
.flexed_images a .cover {margin:1rem 0;}
.imgandtxt .contain {flex-basis: 320px; width:320px;  max-width: 320px; margin:2rem; display:block;}
